/* *Variable */

:root {
  --text-primary-color: #757575;
  --text-secondary-color: #212121;
  --text-tertiary-color: #ffffff;
  --accent-color: #2196f3;

  --logo-second-part-header: #000000;
  --logo-second-part-footer: #ffffff;

  --contacts-footer: rgba(255, 255, 255, 0.6);

  --background-primary: #ffffff;
  --background-secondary: #2f303a;

  --background-hero-btn-hvr: #188ce8;
  --border-hero-btn: #000000;
  --text-shadow-hero-btn: rgba(0, 0, 0, 0.25);
  --background-preview-btn: #f5f4fa;
}

/* *Basic Elements */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);

  background-color: var(--background-primary);
}

/* *Basic Layout */

.hero,
.footer {
  background-color: var(--background-secondary);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.logo-nav {
  color: var(--logo-second-part-header);
}

.logo-footer {
  color: var(--logo-second-part-footer);
}

/* *Header*/

.nav-list-link,
.contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: var(--text-secondary-color);
}

.contacts-list-link {
  color: inherit;
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

/* *Footer */

.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: inherit;
}

.address-link {
  color: var(--text-tertiary-color);
}

.address-contact {
  color: var(--contacts-footer);
}

.address-contact:focus,
.address-contact:hover {
  color: var(--accent-color);
}

/* *Content studio */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-tertiary-color);
  text-align: center;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-tertiary-color);

  background: var(--accent-color);
  border: 0px;
  border-radius: 4px;

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  text-shadow: 0 4px 4px var(--text-shadow-hero-btn);

  background-color: var(--background-hero-btn-hvr);
  outline: 1px solid var(--border-hero-btn);
  outline-offset: -1px;
}

.features-list {
  font-size: 14px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-secondary-color);
}

.features-list-text {
  line-height: 1.71;
}

.about-title,
.teams-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--text-secondary-color);
}

.teams-list {
  font-size: 16px;
}

.teams-list-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-secondary-color);
}

/* *Content portfolio */

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);

  background-color: var(--background-preview-btn);
  border: 0px;
  border-radius: 4px;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--text-tertiary-color);

  background-color: var(--accent-color);
}

.portfolio-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-primary-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-secondary-color);
}
